*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.important {
     font-size: 1.4em;
     text-decoration: underline;
     font-weight: bold;
     // box-shadow: 0px 0px 20px 5px black;
}


.circle{
     height: 100px;
     width: 100px;
     border-radius: 50%;
     background: #161805;
     margin: auto;
     margin-top: 15%;
     box-shadow: inset -5px 0px 20px 0px white,
                 inset -28px 0px 30px -5px rgba(65, 189, 65, 0.8), 
                       -60px 0px 80px 30px rgba(25, 24, 24, 0.9),
                       -20px 0px 20px 10px rgb(203, 206, 0),
                       -40px 0px 50px 20px rgb(0, 157, 255);
     cursor: pointer;
}


