$yellow : rgb(0, 106, 255);

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: 0;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     // background: rgb(255, 255, 255); 
     // background: linear-gradient(to right, #d9e298, #6DD5FA, #91157a); 
     min-width: 300px;
     transition: all 1s ease-in-out;
}

.dark {
     background: #1d4c69;
     // background: linear-gradient(to right, #000000, #182429, #160112); 
     transition: all 1s ease-in-out;
     div{
          color: rgb(255, 255, 255);
     }
}

div{
     color: $yellow;
}

.circle{
     height: 100px;
     width: 100px;
     border-radius: 50%;
     background: #161805;
     margin: auto;
     margin-top: 15%;
     box-shadow: inset -5px 0px 20px 0px white,
                 inset -28px 0px 30px -5px rgba(65, 189, 65, 0.8), 
                       -60px 0px 80px 30px rgba(25, 24, 24, 0.9),
                       -20px 0px 20px 10px rgb(203, 206, 0),
                       -40px 0px 50px 20px rgb(0, 157, 255);
     cursor: pointer;
}


.button {
     border: 1px;
     border-radius: 15px;
     padding: 15px;
     cursor: pointer;
     max-height: 50px;
     min-width: 175px;
}

.dark button {
     background: #144098;
     color: #fff;
     max-height: 50px;
     min-width: 175px;
     transition: all 0.5s ease-in-out;
}


