* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: sans-serif;
}
   
body {
     background: linear-gradient(to right, #1cc11c, #fffa73, #8c0202);
}

h1 {
     text-align: center;
     margin-top: 18%;
     color: saddlebrown;
     text-shadow: 2px 2px 4px black;
     font-size: 4em;
}