*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     background: #2980B9;
     /* background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); */
     background: linear-gradient(to right, #d9e298, #6DD5FA, #91157a);
     min-width: 400px;
}

.container {
     margin-top: 10em;
}

#ville {
text-transform: capitalize;
}

#temperature {
font-size: 4em;
}

#changer {
     border-radius: 5px;
     background: rgba(178, 223, 251, .3);
     box-shadow: 10px 10px 20px 0px rgba(19, 141, 253, 0.5), inset 2px 2px 20px 2px rgba(19, 132, 203, 0.5);
     cursor: pointer;
}